<div
  class="container-fluid d-flex align-items-center justify-content-center"
  style="
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1702660122982-7b2f8d49111a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDI3fENEd3V3WEpBYkV3fHxlbnwwfHx8fHw%3D');
    background-size: cover;
    background-position: center;
  "
>
  <div
    class="card w-50 mt-5 mb-5 text-white"
    style="background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(8px)"
  >
    <img
      class="card-img-top"
      src="https://www.apple.com/v/iphone-15-pro/b/images/overview/welcome/hero__iztc7m63bfiy_large.jpg"
      alt="Card image"
    />
    <div class="card-body">
      <h4 class="card-title">{{Name}}</h4>
      <p class="card-text">This is a detailed description of the product.</p>
      <h5>Price: {{Price}}</h5>
      <h6>Category: Electronics</h6>
      <a  class="btn btn-dark" routerLink="/Edit">Add to Cart</a>
    </div>
  </div>
</div>
