
  
  <!-- Registration Modal -->
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="registerModalLabel">Register</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <!-- Registration Form -->
          <form>
            <div class="mb-3">
              <label for="registerName" class="form-label">Name</label>
              <input type="text" id="registerName" class="form-control" placeholder="Enter your name">
            </div>
  
            <div class="mb-3">
              <label for="registerEmail" class="form-label">Email</label>
              <input type="email" id="registerEmail" class="form-control" placeholder="Enter your email">
            </div>
  
            <div class="mb-3">
              <label for="registerPassword" class="form-label">Password</label>
              <input type="password" id="registerPassword" class="form-control" placeholder="Create a password">
            </div>
  
            <button type="submit" class="btn btn-primary m-1" value="Register" data-bs-dismiss="modal">Register</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
          </form>
        </div>
      </div>
    </div>
  </div>