<div class="container py-5">
  <div class="row">
    <div class="col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-lg">
        <div class="card-body">
          <div class="text-center">
            <img src="https://th.bing.com/th/id/R.6b0022312d41080436c52da571d5c697?rik=ejx13G9ZroRrcg&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fuser-png-icon-young-user-icon-2400.png&ehk=NNF6zZUBr0n5i%2fx0Bh3AMRDRDrzslPXB0ANabkkPyv0%3d&risl=&pid=ImgRaw&r=0" class="img-fluid rounded-circle mb-3" alt="Profile Image" style="width: 100px; height: 100px;">
            <h2 class="h4 font-weight-bold">{{Name}}</h2>
            <p class="text-muted mb-0"><strong>Email:</strong> {{Email}}</p>
            <p class="text-muted"><strong>User ID:</strong> {{id}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
