body {
    background-color: #000;
}


.img{
    width: fit-content;
}

.background-image {
    position: relative;
    overflow: hidden;
}

.background-image img {
    width: 100%;
    height: auto;
    margin-left: 60px;
}
.card-body {
    color: #fff;
}

